body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.player {
    display: inline-block;
    margin: 20px;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f7f7f7;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    
}

#winner {
    font-size: 24px;
    font-weight: bold;
    color: #FF5722;
    margin-top: 20px;
}
